<center><img src="https://polytech.univ-lyon1.fr/uas/polytech/LOGO/UDL_logo_blanc-01%20(2).png" alt="drawing" style="width:100px;"/></center>

# Introduction à Python pour la Data Science

## Exercices de découverte de Python

## Exercice 1
Soit les listes :

- Faire la somme de v1 et v2 et conserver le résultat dans une liste v3. 
- Réaliser le produit des éléments de v2
- Rajouter 4 dans v1 à toutes les valeurs inférieur à 30

In [16]:
#Solution 1 sans numpy
v1 = [3, 2, 7, 55]
v2 = [6, 8, 5,  6]

v3 = [0] * len(v1)

for i in range(0, len(v1)):
    v3[i] = v1[i] + v2[i]
    
v3

[9, 10, 12, 61]

In [20]:
#Solution 2 avec numpy
import numpy as np
v1 = np.array(v1)
v2 = np.array(v2)
v3 = v1+v2
v3

array([ 9, 10, 12, 61])

In [22]:
prod = 1
for i in range(0,len(v2)):
    prod = prod * v2[i]
prod

1440

In [26]:
v1[v1<30] = v1[v1<30]+4
v1

array([ 7,  6, 11, 59])

## Exercice 2
Soit la liste :

In [29]:
liste = [17, 38, 10, 25, 72]

- trier et afficher la liste 
- ajouter l’élément 12 à la liste et afficher la liste 
- renverser et afficher la liste 
- afficher l’indice de l’élément 17 
- enlever l’élément 38 et afficher la liste 
- afficher la sous-liste du 2eau 3e élément 
- afficher la sous-liste du début au 2e élément 
- afficher la sous-liste du 3eélément à la fin de la liste 
- afficher le dernier élément en utilisant un indiçage négatif.

In [32]:
liste = [17, 38, 10, 25, 72]
print("Liste initiale".center(50,'-'))
print(liste,'\n')

print("Tri".center(50,'-'))

liste.sort()
print(liste,'\n')

print("Ajout d'un element puis tri".center(50,'-'))
liste.append(12)
liste.sort()
print(liste,'\n')

print("Retournement".center(50,'-'))
liste.reverse()
print(liste,'\n')

print("Indice d'un element".center(50,'-'))
print(liste.index(17),'\n')

print("Retrait d'un element".center(50,'-'))
liste.remove(38)
print(liste,'\n')

print("Indicage".center(50,'-'))
print("liste[1:3]=",liste[1:3])
print("liste[:2]=",liste[:2])
print("liste[2:]=",liste[2:])
print("liste[:]=",liste[:])
print("liste[-1]=",liste[-1])

------------------Liste initiale------------------
[17, 38, 10, 25, 72]

-----------------------Tri------------------------
[10, 17, 25, 38, 72]

-----------Ajout d'un element puis tri------------
[10, 12, 17, 25, 38, 72]

-------------------Retournement-------------------
[72, 38, 25, 17, 12, 10]

---------------Indice d'un element----------------
3

---------------Retrait d'un element---------------
[72, 25, 17, 12, 10]

---------------------Indicage---------------------
liste[1:3]= [25, 17]
liste[:2]= [72, 25]
liste[2:]= [17, 12, 10]
liste[:]= [72, 25, 17, 12, 10]
liste[-1]= 10

## Exercice 4

Créer un dataframe « Donnees» de 3 colonnes et 6 lignes telles que :
- la première colonne contienne la variable taille en cm,
- la deuxième colonne contienne la variable poids,
- la troisième colonne soit un facteur indiquant le sexe de l'individu.

- Nommer les colonnes de ce tableau de manière adéquate.
- Calculer une variable IMC tel que IMC = poids / taille^2 et l’intégrer dans le dataframe donnees
- Quel est l’IMC moyen ?
- Combien-y-a-t-il de femme et d’homme ?

In [ ]:
import pandas as pd

Donnees = pd.DataFrame(
    {"taille": [193,167,145,187,198,175],
     "poids": [100, 65, 43, 80, 90,79],
     "sexe": ['M','F','M','F','M','F']})
Donnees.taille = Donnees.taille/100
Donnees['IMC'] = Donnees.poids/(Donnees.taille*Donnees.taille)
print("Le dataframe".center(50,'-'))
print(Donnees,'\n')
print("L'IMC moyen".center(50,'-'))
print(Donnees.IMC.mean(),'\n')
print("La répartition hommes/femmes".center(50,'-'))
print(Donnees.groupby('sexe').count().taille)

-------------------Le dataframe-------------------
   taille  poids sexe        IMC
0    1.93    100    M  26.846358
1    1.67     65    F  23.306680
2    1.45     43    M  20.451843
3    1.87     80    F  22.877406
4    1.98     90    M  22.956841
5    1.75     79    F  25.795918

-------------------L'IMC moyen--------------------
23.70584109946002

-----------La répartition hommes/femmes-----------
sexe
F    3
M    3
Name: taille, dtype: int64

## Exercice 5
Initialisez deux entiers : a = 0 et b = 10.
Écrire une boucle affichant et incrémentant la valeur de a tant qu’elle reste inférieure
à celle de b.
Écrire une autre boucle décrémentant la valeur de b et affichant sa valeur si elle est
impaire. Boucler tant que b n’est pas nul.

In [2]:
print('\n',"Première méthode".center(50,'-'))
a,b=0,10
while a<b:
    print(a ,'est inferieur à',b)
    a=a+1
    
print('\n',"Deuxième méthode".center(50,'-'))
a,b=0,10
while b: 
    b=b-1
    if b%2!=0:
        print(b ,'est supérieur à',a)
        
print('\n',"Troisème méthode".center(50,'-'))
a,b=0,10
while a<b:
    print(a ,'est inferieur à',b)
    a=a+1
    b=b-1
    print(a)
    print(b)
    if b%2!=0:
        print(b ,'est supérieur à',a)
        print('--')

 -----------------Première méthode-----------------
0 est inferieur à 10
1 est inferieur à 10
2 est inferieur à 10
3 est inferieur à 10
4 est inferieur à 10
5 est inferieur à 10
6 est inferieur à 10
7 est inferieur à 10
8 est inferieur à 10
9 est inferieur à 10

 -----------------Deuxième méthode-----------------
9 est supérieur à 0
7 est supérieur à 0
5 est supérieur à 0
3 est supérieur à 0
1 est supérieur à 0

 -----------------Troisème méthode-----------------
0 est inferieur à 10
1
9
9 est supérieur à 1
--
1 est inferieur à 9
2
8
2 est inferieur à 8
3
7
7 est supérieur à 3
--
3 est inferieur à 7
4
6
4 est inferieur à 6
5
5
5 est supérieur à 5
--

## Exercice 6

Ecrire une fonction « CalculTarif » qui prend pour argument une valeur d’âge et qui affiche : « demi-‐tarif » si l’âge est inférieur à 12 ans, « tarif sénior » si l’âge est supérieur à 60 ans et « plein tarif » sinon. 

- Tester votre fonction pour des personnes de 5, 65, 85, 41, 23, 47 ans.

In [7]:
def CalculTarif(age):
    if age<12:
        print("demi-tarif")
    elif age>60:
        print('tarif sénior')
    else:
        print('Plein tarif')
CalculTarif(5)

demi-tarif

## Exercice 7

Créer une fonction « formule » qui prend en argument une valeur de X et qui donne en sortie la valeur de Y associée.  
Calculer la liste « Youtput » des valeurs de Y associées aux valeurs de X = 15, 89, 56, 78, 152, 66, 48, 77, 2, 96.

PV = nRT avec les unités suivantes (généralement utilisées):
- P = pression du gaz en Pa
- V = volume en m3
- n = quantité de matière en mol
- T = température absolue en K (Kelvins)
- R = 8.314 SI (si les unités utilisées sont celles ci-dessus)

In [ ]:
def gazparfait(X):
    P = 78
    T = 293.15 # il fait 20 degrés
    R = 8.314
    V = np.array(X)
    n = (P*V)/(R*T)
    return(n)

gazparfait([15, 89, 56, 78, 152, 66, 48, 77, 2, 96])

## Exercice  8

Créer une fonction qui identifie les mots ou phrases palindromiques (mots ou phrases qui se lisent dans les deux sens, par exemple RADAR). 

Cette fonction prendra comme argument le mot « mot » et retournera les phrases : « mot est un palindrome » si le mot = palindrome et « mot n’est pas un palindrome », sinon. 
- Appliquer votre fonction sur les mots « radar », « hannah », « sept », « kayak », « la mariée ira mal », « capitaine », « engage le jeu que je le gagne ».

In [6]:
!pip install unidecode

Collecting unidecode
  Downloading Unidecode-1.3.4-py3-none-any.whl (235 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.9/235.9 KB 4.6 MB/s eta 0:00:0000:01
Installing collected packages: unidecode
Successfully installed unidecode-1.3.4

In [ ]:
import unidecode
def palindrome(text):
    textinitial = text
    text = text.replace(' ', '')
    text = text.casefold()
    text = unidecode.unidecode(text)
    if list(text) == list(reversed(text)):
        print(textinitial,'est un palindrome','\n')
    else:
        print(textinitial,"n'est pas un palindrome",'\n')

palindrome('radar')
palindrome('hannah')
palindrome('sept')
palindrome('kayak')
palindrome('la mariée ira mal')
palindrome('capitaine')
palindrome("engage le jeu que je le gagne")

## Exercice 9

Écrire une fonction volumeSphere qui calcule le volume d’une sphère de rayon r fourni
en argument et qui utilise la fonction cube.
- Tester la fonction volumeSphere par un appel dans le programme principal.

In [ ]:
from math import pi

def volumeSphere(r):
    return 4*pi*r**3/3

rayon = float(input("Rayon:"))
print("\n Volume de la sphere de rayon" ,rayon,"est",volumeSphere(rayon))

## Exercice 10
Écrire une fonction compterMots ayant un argument (une chaîne de caractères) er qui renvoie un dictionnaire qui contient la fréquence de tous les mots de la chaîne entrée.

In [ ]:
def compterMots(texte):
    dict={}
    listeMots=texte.split()
    for mot in listeMots:
        if mot in dict:
            dict[mot] = dict[mot]+1
        else:dict[mot]=1
    return dict

res=compterMots("Je ne suis pas content")
for c in res.keys():
    print(c,"-->",res[c])